<a href="https://colab.research.google.com/github/kishore145/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/09_Objects_and_Data_Structures_Assessment_Test_Solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: int, float can be used in mathematical operations. e.g. 5, 3.14

Strings: ordered list of characters - immutable e.g. 'I am legend'

Lists: ordered list of objects - mutable. e.g. [1, 'two', 3.0]

Tuples: ordered list of objects - immutable e.g. (1, 'two', 3.0)

Dictionaries: unordered list of key, value pairs (mutable). e.g. {'key1': 'value'}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
(5 ** 2) * (6 - 2) + (1.0 / 4)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [6]:
print(f'''4 * (6+5) = {4 * (6+5)}
4 * 6 + 5 = {4 * 6 + 5}
4 + 6 * 5 = {4 + 6 * 5}''')

4 * (6+5) = 44
4 * 6 + 5 = 29
4 + 6 * 5 = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
float

What would you use to find a numberâ€™s square root, as well as its square?

In [7]:
# Square root:
25 ** 0.5

5.0

In [8]:
# Square:
5 ** 2

25

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [9]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [10]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [11]:
s ='hello'
# Print out the 'o'
print(s[4:])

# Method 1:
print(s[-1])

o
o

In [ ]:
# Method 2:

## Lists

Build this list [0,0,0] two separate ways.

In [13]:
# Method 1:
lst = [0,0,0]
lst

[0, 0, 0]

In [14]:
# Method 2:
lst = [0] * 3
lst

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [15]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [16]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [17]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [18]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [21]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [22]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
dictionary are unordered key, value pairs and hence not sortable

## Tuples

What is the major difference between tuples and lists?<br><br>
tupe is immutable i.e, individual elements cannot be changed
lists are mutable i.e, individual elements can be reassigned

How do you create a tuple?<br><br>
(1,'two',3.0) with open and close paranthesis

## Sets

What is unique about a set?<br><br>
set is an unordered list of unique values

Use a set to find the unique values of the list below:

In [23]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [24]:
# Answer before running cell
2 > 3

False

In [25]:
# Answer before running cell
3 <= 2

False

In [26]:
# Answer before running cell
3 == 2.0

False

In [27]:
# Answer before running cell
3.0 == 3

True

In [28]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [29]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!